@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  /* ### Neutral */

  --Blue-900-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Blue-950-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Grey-950-Light-Mode-Text: hsl(200, 15%, 8%);
  --Grey-400-Ligh-Mode-Input: hsl(0, 0%, 50%);
  --Grey-50-Light-Mode-Background: hsl(0, 0%, 99%);
  --White-Dark-Mode-Text: hsl(0, 100%, 100%);

  /* ## Typography */

  --txt-xsm: 1rem;
  --txt-sm: 1.2rem;
  --txt-smd: 1.4rem;
  --txt-md: 1.6rem;
  --txt-xmd: 1.8rem;
  --txt-lg: 2rem;
  --txt-xlg: 2.4rem;

  /* weights */

  --wgt-sm: 300;
  --wgt-md: 600;
  --wgt-lg: 800;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* mobile worlflow style */

header {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--Blue-900-Dark-Mode-Elements);
  color: var(--White-Dark-Mode-Text);
  padding: 2.5rem 1rem;
}

header h2 {
  font-size: var(--txt-xlg);
  font-weight: var(--wgt-lg);
  word-spacing: 0.5px;
}

header button {
  display: flex;
  border: none;
  background: none;
  font-size: var(--txt-md);
  color: inherit;
  column-gap: 10px;
}
